* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Courier New', monospace;
    padding: 10px;
    background: #fbe4ed;
  }
  
  /*contains all cards on left*/
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /*contains all cards on right*/
  .rightcolumn {
    float: left;
    width: 25%;
    background: #fbe4ed;
    padding-left: 20px;
  }

  .aboutimg{
    padding: 20px;
    width: 100%;
  }
  
  /*contains actual content*/
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-style: solid;
  }

  .name{
    text-align: center;
    padding: 10px
  }
  
  /*clear the weird floaty thing*/
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /*FEET*/
  .footer {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
  }
  
  /*when <800px make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

  /* for building placeholder */
.fakeimg {
    background-color: #aaa;
    /*width: 40%;*/
    padding: 20px;
  }

  /*so that the first rows of each table aren't bold*/
  th{ 
    font-weight: normal;
  }

  /*to make links look like buttons because fuck buttons amirite*/
  .button { 
    background-color: white; 
    border-style: solid; 
    border-color: black;
    color: black; 
    padding: 10px 17px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 20px; 
    margin: 4px 2px; 
    cursor: pointer; }